# **Basic Information About The Dataset**

**There are total 9 columns in the dataframe**

**Column names- Age, Gender, Educational Level, Job Title, Years of Experience, Salary, Country, Race, Senior**

**Necessary Information about columns**

In **Education Level** column:

0 represents: High School<br>
1 represents: Bachelor Degree<br>
2 represents: Master Degree<br>
3 represents: Phd

In **Salary** column:

Currency : US Dollar

In **Senior** column:

It shows that is this employee has a senior position or no.(Binary)

# Loading the dataset

In [2]:
import pandas as pd
df=pd.read_csv("/kaggle/input/salary-by-job-title-and-country/Salary.csv")
df.head(20)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32.0,Male,1,Software Engineer,5.0,90000.0,UK,White,0
1,28.0,Female,2,Data Analyst,3.0,65000.0,USA,Hispanic,0
2,45.0,Male,3,Manager,15.0,150000.0,Canada,White,1
3,36.0,Female,1,Sales Associate,7.0,60000.0,USA,Hispanic,0
4,52.0,Male,2,Director,20.0,200000.0,USA,Asian,0
5,29.0,Male,1,Marketing Analyst,2.0,55000.0,USA,Hispanic,0
6,42.0,Female,2,Product Manager,12.0,120000.0,USA,Asian,0
7,31.0,Male,1,Sales Manager,4.0,80000.0,China,Korean,0
8,26.0,Female,1,Marketing Coordinator,1.0,45000.0,China,Chinese,0
9,38.0,Male,3,Scientist,10.0,110000.0,Australia,Australian,1
10,29.0,Male,2,Software Developer,3.0,75000.0,UK,Welsh,0
11,48.0,Female,1,HR Manager,18.0,140000.0,UK,Asian,0
12,35.0,Male,1,Financial Analyst,6.0,65000.0,China,Korean,0
13,40.0,Female,2,Project Manager,14.0,130000.0,USA,African American,0
14,27.0,Male,1,Customer Service Rep,2.0,40000.0,Canada,Asian,0
15,44.0,Male,1,Operations Manager,16.0,125000.0,China,Chinese,0
16,33.0,Female,2,Marketing Manager,7.0,90000.0,USA,Asian,0
17,39.0,Male,3,Engineer,12.0,115000.0,UK,Mixed,1
18,25.0,Female,1,Data Entry Clerk,0.0,35000.0,UK,Asian,0
19,51.0,Male,1,Sales Director,22.0,180000.0,Australia,Asian,0

# Basic Information about the dataset

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 9 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6684 non-null   float64
 1   Gender               6684 non-null   object
 2   Education Level      6684 non-null   int64
 3   Job Title            6684 non-null   object
 4   Years of Experience  6684 non-null   float64
 5   Salary               6684 non-null   float64
 6   Country              6684 non-null   object
 7   Race                 6684 non-null   object
 8   Senior               6684 non-null   int64
dtypes: float64(3), int64(2), object(4)
memory usage: 470.1+ KB

# Rows and Columns in the Dataframe

In [4]:
print("Shape of the dataframe is: ",df.shape)

Shape of the dataframe is:  (6684, 9)

# Cheking null values in the dataset

In [5]:
df.isnull().sum()

Age                    0
Gender                 0
Education Level        0
Job Title              0
Years of Experience    0
Salary                 0
Country                0
Race                   0
Senior                 0
dtype: int64

# Changing datatype of columns from 'float' to 'int'

In [6]:
df['Age']=df['Age'].astype('int64')
df['Years of Experience']=df['Years of Experience'].astype('int64')
df['Salary']=df['Salary'].astype('int64')
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country,Race,Senior
0,32,Male,1,Software Engineer,5,90000,UK,White,0
1,28,Female,2,Data Analyst,3,65000,USA,Hispanic,0
2,45,Male,3,Manager,15,150000,Canada,White,1
3,36,Female,1,Sales Associate,7,60000,USA,Hispanic,0
4,52,Male,2,Director,20,200000,USA,Asian,0
...,...,...,...,...,...,...,...,...,...
6679,49,Female,3,Director of Marketing,20,200000,UK,Mixed,0
6680,32,Male,0,Sales Associate,3,50000,Australia,Australian,0
6681,30,Female,1,Financial Manager,4,55000,China,Chinese,0
6682,46,Male,2,Marketing Manager,14,140000,China,Korean,0
6683,26,Female,0,Sales Executive,1,35000,Canada,Black,0

# Dropping unnecessary columns

In [7]:
df=df.drop(['Race','Senior'],axis=1)
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary,Country
0,32,Male,1,Software Engineer,5,90000,UK
1,28,Female,2,Data Analyst,3,65000,USA
2,45,Male,3,Manager,15,150000,Canada
3,36,Female,1,Sales Associate,7,60000,USA
4,52,Male,2,Director,20,200000,USA
...,...,...,...,...,...,...,...
6679,49,Female,3,Director of Marketing,20,200000,UK
6680,32,Male,0,Sales Associate,3,50000,Australia
6681,30,Female,1,Financial Manager,4,55000,China
6682,46,Male,2,Marketing Manager,14,140000,China
6683,26,Female,0,Sales Executive,1,35000,Canada

# Displaying list of jobs

In [8]:
print("List of jobs: ",df['Job Title'].unique())

List of jobs:  ['Software Engineer' 'Data Analyst' 'Manager' 'Sales Associate' 'Director'
 'Marketing Analyst' 'Product Manager' 'Sales Manager'
 'Marketing Coordinator' 'Scientist' 'Software Developer' 'HR Manager'
 'Financial Analyst' 'Project Manager' 'Customer Service Rep'
 'Operations Manager' 'Marketing Manager' 'Engineer' 'Data Entry Clerk'
 'Sales Director' 'Business Analyst' 'VP of Operations' 'IT Support'
 'Recruiter' 'Financial Manager' 'Social Media Specialist'
 'Software Manager' 'Developer' 'Consultant' 'Product Designer' 'CEO'
 'Accountant' 'Data Scientist' 'Marketing Specialist' 'Technical Writer'
 'HR Generalist' 'Project Engineer' 'Customer Success Rep'
 'Sales Executive' 'UX Designer' 'Operations Director' 'Network Engineer'
 'Administrative Assistant' 'Strategy Consultant' 'Copywriter'
 'Account Manager' 'Director of Marketing' 'Help Desk Analyst'
 'Customer Service Manager' 'Business Intelligence Analyst'
 'Event Coordinator' 'VP of Finance' 'Graphic Designer' 'UX Researcher'
 'Social Media Manager' 'Director of Operations'
 'Digital Marketing Manager' 'IT Manager'
 'Customer Service Representative' 'Business Development Manager'
 'Web Developer' 'Research Director' 'Technical Support Specialist'
 'Creative Director' 'Human Resources Director'
 'Content Marketing Manager' 'Technical Recruiter' 'Sales Representative'
 'Chief Technology Officer' 'Designer' 'Financial Advisor'
 'Principal Scientist' 'Supply Chain Manager' 'Training Specialist'
 'Research Scientist' 'Public Relations Manager' 'Operations Analyst'
 'Product Marketing Manager' 'Project Coordinator' 'Chief Data Officer'
 'Digital Content Producer' 'IT Support Specialist'
 'Customer Success Manager' 'Software Project Manager'
 'Supply Chain Analyst' 'Office Manager' 'Principal Engineer'
 'Sales Operations Manager' 'Web Designer' 'Director of Sales'
 'Customer Support Specialist' 'Director of Human Resources'
 'Director of Product Management' 'Human Resources Manager'
 'Business Development Associate' 'Researcher' 'HR Coordinator'
 'Director of Finance' 'Human Resources Coordinator' 'IT Project Manager'
 'Quality Assurance Analyst' 'Director of Sales and Marketing'
 'Account Executive' 'Director of Business Development'
 'Human Resources Specialist' 'Director of Human Capital'
 'Advertising Coordinator' 'Marketing Director' 'IT Consultant'
 'Business Operations Analyst' 'Product Development Manager'
 'Software Architect' 'HR Specialist' 'Data Engineer'
 'Operations Coordinator' 'Director of HR' 'Director of Engineering'
 'Software Engineer Manager' 'Back end Developer' 'Full Stack Engineer'
 'Front end Developer' 'Front End Developer' 'Director of Data Science'
 'Juniour HR Generalist' 'Juniour HR Coordinator'
 'Digital Marketing Specialist' 'Receptionist' 'Social Media Man'
 'Delivery Driver']

# Displaying list of countries

In [9]:
#List of countries
print("List of countries: ",df['Country'].unique())

List of countries:  ['UK' 'USA' 'Canada' 'China' 'Australia']

# Creating filters for model

In [10]:
# Filter for freshers 
freshers_df = df[(df['Years of Experience'] == 0) | (df['Years of Experience']== 1)]

# Display only necessary columns
freshers_df = freshers_df[['Job Title', 'Country','Education Level', 'Salary']]

print(freshers_df.head(100))

                  Job Title    Country  Education Level  Salary
8     Marketing Coordinator      China                1   45000
18         Data Entry Clerk         UK                1   35000
27                Developer  Australia                1   40000
38     Customer Success Rep     Canada                1   40000
49        Help Desk Analyst        USA                1   35000
...                     ...        ...              ...     ...
1444    Front end Developer        USA                1   60000
1465     Back end Developer  Australia                1   60000
1468    Front end Developer         UK                1   55000
1491     Back end Developer     Canada                1   55000
1532    Front end Developer        USA                1   55000

[100 rows x 4 columns]

# Generation of model

In [11]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import make_pipeline

# Features and target
X = freshers_df[['Job Title', 'Country','Education Level']]
y = freshers_df['Salary']

# Build pipeline
model = make_pipeline(
    OneHotEncoder(handle_unknown='ignore'),
    RandomForestRegressor(random_state=42)
)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
model.fit(X_train, y_train)

Pipeline(steps=[('onehotencoder', OneHotEncoder(handle_unknown='ignore')),
                ('randomforestregressor',
                 RandomForestRegressor(random_state=42))])

In [12]:
def predict_salary(job_title, country, edu_level):
    input_df = pd.DataFrame([[job_title,country, edu_level]], columns=['Job Title','Country', 'Education Level'])
    salary = model.predict(input_df)[0]
    return f"As a fresher in {country} with a {job_title} role and education level {edu_level}, you can ask for approximately ${int(salary):,}."

In [14]:
!pip install gradio
import gradio as gr

job_list = freshers_df['Job Title'].unique().tolist()
country_list=freshers_df['Country'].unique().tolist()

gr.Interface(
    fn=predict_salary,
    inputs=[
        gr.Dropdown(choices=job_list, label="Job Title"),
        gr.Dropdown(choices=country_list, label="Country"),
        gr.Dropdown(choices=[0, 1, 2, 3], label="Education Level (0:High School, 1:Bachelor, 2:Master, 3:PhD)")
    ],
    outputs="text",
    title="Fresher Salary Predictor",
    description="Tell me your job title, country and education level, and I’ll estimate your salary !"
).launch()

Requirement already satisfied: gradio in /usr/local/lib/python3.11/dist-packages (5.36.2)
Requirement already satisfied: aiofiles<25.0,>=22.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (22.1.0)
Requirement already satisfied: anyio<5.0,>=3.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.7.1)
Requirement already satisfied: brotli>=1.1.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (1.1.0)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.116.0)
Requirement already satisfied: ffmpy in /usr/local/lib/python3.11/dist-packages (from gradio) (0.6.0)
Requirement already satisfied: gradio-client==1.10.4 in /usr/local/lib/python3.11/dist-packages (from gradio) (1.10.4)
Requirement already satisfied: groovy~=0.1 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.1.2)
Requirement already satisfied: httpx<1.0,>=0.24.1 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.28.1 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.30.2)
Requirement already satisfied: jinja2<4.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.1.6)
Requirement already satisfied: markupsafe<4.0,>=2.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.0.2)
Requirement already satisfied: numpy<3.0,>=1.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (1.26.4)
Requirement already satisfied: orjson~=3.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (3.10.15)
Requirement already satisfied: packaging in /usr/local/lib/python3.11/dist-packages (from gradio) (24.2)
Requirement already satisfied: pandas<3.0,>=1.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (2.2.3)
Requirement already satisfied: pillow<12.0,>=8.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (11.1.0)
Requirement already satisfied: pydantic<2.12,>=2.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (2.11.3)
Requirement already satisfied: pydub in /usr/local/lib/python3.11/dist-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.9.3 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.12.2)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.46.2)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.13.3)
Requirement already satisfied: typer<1.0,>=0.12 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.15.1)
Requirement already satisfied: typing-extensions~=4.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (4.13.1)
Requirement already satisfied: uvicorn>=0.14.0 in /usr/local/lib/python3.11/dist-packages (from gradio) (0.35.0)
Requirement already satisfied: fsspec in /usr/local/lib/python3.11/dist-packages (from gradio-client==1.10.4->gradio) (2025.3.2)
Requirement already satisfied: websockets<16.0,>=10.0 in /usr/local/lib/python3.11/dist-packages (from gradio-client==1.10.4->gradio) (14.2)
Requirement already satisfied: idna>=2.8 in /usr/local/lib/python3.11/dist-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in /usr/local/lib/python3.11/dist-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.11/dist-packages (from httpx<1.0,>=0.24.1->gradio) (2025.1.31)
Requirement already satisfied: httpcore==1.* in /usr/local/lib/python3.11/dist-packages (from httpx<1.0,>=0.24.1->gradio) (1.0.7)
Requirement already satisfied: h11<0.15,>=0.13 in /usr/local/lib/python3.11/dist-packages (from httpcore==1.*->httpx<1.0,>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (3.18.0)
Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in /usr/local/lib/python3.11/dist-packages (from huggingface-hub>=0.28.1->gradio) (4.67.1)
Requirement already satisfied: mkl_fft in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (1.3.8)
Requirement already satisfied: mkl_random in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (1.2.4)
Requirement already satisfied: mkl_umath in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (0.1.1)
Requirement already satisfied: mkl in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (2025.1.0)
Requirement already satisfied: tbb4py in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (2022.1.0)
Requirement already satisfied: mkl-service in /usr/local/lib/python3.11/dist-packages (from numpy<3.0,>=1.0->gradio) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas<3.0,>=1.0->gradio) (2025.2)
Requirement already satisfied: annotated-types>=0.6.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<2.12,>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.33.1 in /usr/local/lib/python3.11/dist-packages (from pydantic<2.12,>=2.0->gradio) (2.33.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /usr/local/lib/python3.11/dist-packages (from pydantic<2.12,>=2.0->gradio) (0.4.0)
Requirement already satisfied: click>=8.0.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (8.1.8)
Requirement already satisfied: shellingham>=1.3.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.11/dist-packages (from typer<1.0,>=0.12->gradio) (14.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.17.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in /usr/local/lib/python3.11/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /usr/local/lib/python3.11/dist-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.19.1)
Requirement already satisfied: intel-openmp<2026,>=2024 in /usr/local/lib/python3.11/dist-packages (from mkl->numpy<3.0,>=1.0->gradio) (2024.2.0)
Requirement already satisfied: tbb==2022.* in /usr/local/lib/python3.11/dist-packages (from mkl->numpy<3.0,>=1.0->gradio) (2022.1.0)
Requirement already satisfied: tcmlib==1.* in /usr/local/lib/python3.11/dist-packages (from tbb==2022.*->mkl->numpy<3.0,>=1.0->gradio) (1.2.0)
Requirement already satisfied: intel-cmplr-lib-rt in /usr/local/lib/python3.11/dist-packages (from mkl_umath->numpy<3.0,>=1.0->gradio) (2024.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests->huggingface-hub>=0.28.1->gradio) (3.4.1)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.3.0)
Requirement already satisfied: intel-cmplr-lib-ur==2024.2.0 in /usr/local/lib/python3.11/dist-packages (from intel-openmp<2026,>=2024->mkl->numpy<3.0,>=1.0->gradio) (2024.2.0)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.11/dist-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
* Running on local URL:  http://127.0.0.1:7861
It looks like you are running Gradio on a hosted Jupyter notebook, which requires `share=True`. Automatically setting `share=True` (you can turn this off by setting `share=False` in `launch()` explicitly).

* Running on public URL: https://7e3655c39c1a10a5fa.gradio.live

This share link expires in 1 week. For free permanent hosting and GPU upgrades, run `gradio deploy` from the terminal in the working directory to deploy to Hugging Face Spaces (https://huggingface.co/spaces)